@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #111827;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: #F8FAFC;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search{
    display: flex;
    align-items: center;
}
#busqueda{
    width: 14rem;
    height: 3.12rem;
    margin: 2rem 0;
    transition: width .3s ease-out;
    padding-left: 1.5rem;
    border: none;
    border-bottom: 2px solid #EC4899;
    outline: none;
    background-color: #111827;
    color: #F8FAFC;
    font-size: 1.5rem;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
}
.icon{
    width: 2.5rem;
    height: 3.1rem;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    background-color: #FFFFFF;
    color: #EC4899;
    background-color: #111827;
    z-index: 1;
}

.significado{
    width: 60%;
    height: 14rem;
    transform: translateX(-100rem) ;
    background-color: #374151;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: #F8FAFC;
}
.significado p{
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1rem;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
}
.significado.active{
    transform: translateX(0);
    transition: transform .4s ease-in;
}

.pronunciacion{
    width: 100%;
    margin-bottom: 2rem;
    transform: translateX(-100rem) ;
    color: #F8FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pronunciacion p{
    font-size: 2rem;
}

.pronunciacion.active{
    transform: translateX(0);
    transition: transform .3s ease-in;

}

@media only screen and (max-width: 650px) {

    .significado{
        width: 80%;
    }
    .significado p{
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 450px) {
    h1{
        width: 70%;
    }
    .significado p{
        padding: 0;
    }

}